body {
  box-sizing: border-box;
}

.board-container {
  display: flex;
  width: 600px;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}

.cell {
  width: 120px;
  height: 120px;
  background-color: blue;
  border: solid #000000 1px;
}

.goblin {
  background-image: url(../img/goblin.png);
}
